<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>totem</title>
    <style>
        div {
            text-align: center;
        }
    </style>
    <!--  snow-->
  <script src="https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/xmas/snow.js"></script>

</head>
<script>
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
</script>
<body>
<div>

    <img class="mb-4" src="{{ url_for('static', filename='gif/Totem.gif') }}"
         style="border-radius: 15px; margin-top: 160px; align-items: center">
    <div >
            <a class="nav-link" href="/" style="color: black">Home</a>
    </div>

</div>
</body>
</html>